services:
  - type: web
    name: rashmi-ecommerce-backend
    env: docker
    region: ohio
    plan: free
    dockerContext: .
    dockerfilePath: ./Dockerfile
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: RASHMI_APP_JWTSECRET
        generateValue: true
      - key: RASHMI_APP_JWTEXPIRATIONMS
        value: 86400000
